body {
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.mainbody {
    padding: 10px;
    margin-top: 30px;
    text-align: left;
    width: auto;
    background-color: #ffffff;
}

.navbar {
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cornflowerblue;
}

.navbar a:hover {
    background-color: rgb(153, 181, 233);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}