body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.mainbody {
    text-align: left;
    width: auto;
}

.navbar {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cornflowerblueS;
}

li {
    display: inline;
}