@font-face {
    font-family: jetbrains;
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 106, 189);
    font-family: jetbrains;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}


.mainbody {
    margin-top: 40px;
    text-align: left;
    width: auto;
    max-width: 800px;
}

.sect {
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px 0px;
    margin-bottom: 30px;
}

hr {
    width: 70%;
}

h2 {
    text-align: center;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(26, 46, 94);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px 0px;
}

.innernav {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a:hover {
    background-color: rgb(153, 181, 233);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#home {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

#home img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.cropper {
    margin: 30px;
    width: auto;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px 0px;
}

#degrees {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#skills {
    display: block;
    text-align: center;
    align-content: center;
}

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon {
    max-width: 100px;
    max-height: 100px;
}